.modal {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0%);
    z-index: 100;

    min-height: 80%;
    max-height: 90%;
    width: 75%;
    border-radius: .5em;
    padding: 2em;
    margin-top: 3em;

    &.invisible {
        display: none;
    }

    &.visible {
        display: unset;
    }
}

.fullscreenInvisibleButton {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 50%;
    z-index: 50;
    display: none;

    &.invisible {
        display: none;
    }

    &.visible {
        display: unset;
    }
}

@media only screen and (max-width: 1150px) {
    .modal {
        width: 90%;
        margin-top: 1.5em;
    }
}

@media only screen and (max-width: 768px) {
    .modal {
        margin-top: 1em;
    }
}