@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:wght@400;500;600;700&family=Rokkitt:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
@font-face {
  font-family: 'Selima';
  src: url("../asset/font/selima/Selima.eot");
  /* IE9 Compat Modes */
  src: url("../asset/font/selima/Selima.woff2") format("woff2"), url("../asset/font/selima/Selima.woff") format("woff"), url("../asset/font/selima/Selima.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../asset/img/natural-wood-pattern.webp);
  min-height: 100vh;
  padding: 0 3%;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.container.topLevel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: clamp(200px, 100%, 1400px);
  height: 100%;
  margin: 3% auto 0 auto;
}

.hero {
  height: 340px;
  width: 100%;
  -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

.hero .glide {
  height: 100%;
  border-radius: 6px;
}

.hero .glide .glide__track {
  height: 100%;
}

.hero .glide .glide__track .glide__slides {
  height: 100%;
  border-radius: 6px;
}

.hero .glide .glide__track .glide__slide {
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 6px;
}

.hero .glide #nbbcGlide-welcome {
  background-image: url(../asset/img/carousel/welcome/OrangeTrees3.webp);
  color: white;
  padding: 1em;
}

.hero .glide #nbbcGlide-welcome h1 {
  text-align: center;
  font-size: clamp(2.2em, 4vw, 5em);
  border: 10px solid white;
  padding: 0 20px;
  background: rgba(255, 255, 255, 0.25);
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5), 0 0 8px rgba(0, 0, 0, 0.65);
}

.hero .glide #nbbcGlide-welcome h2 {
  text-align: center;
  font-size: clamp(0.8em, 1.2vw, 2em);
  letter-spacing: .2em;
  margin-top: 1em;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5), 0 0 8px rgba(0, 0, 0, 0.65);
}

.hero .glide #nnbcGlide-revival {
  background-image: url(../asset/img/carousel/revival/PinkMountains.webp);
  color: white;
}

.hero .glide #nnbcGlide-revival h1 {
  font-family: 'Selima';
  font-size: clamp(4em, 7.5vw, 8em);
  text-align: center;
  letter-spacing: 0.15em;
  position: relative;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
  text-shadow: 4px 4px 0px #78F5AB;
}

.hero .glide #nnbcGlide-revival h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(0.85em, 1.25vw, 1.35em);
  text-align: right;
  letter-spacing: 0.15em;
  margin-top: clamp(10px, -1vw, -10px);
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
}

.hero .glide #nnbcGlide-revival p {
  font-family: 'DM Serif Display', serif;
  font-size: clamp(1em, 1.25vw, 1.35em);
  margin-bottom: -1.5vw;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
}

.hero .glide #nnbcGlide-workday {
  background: #222222;
  background: -webkit-gradient(linear, left bottom, left top, from(#222222), color-stop(50%, #222222), color-stop(50%, #ffa030), to(#ffa030));
  background: linear-gradient(0deg, #222222 0%, #222222 50%, #ffa030 50%, #ffa030 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero .glide #nnbcGlide-workday .event-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .glide #nnbcGlide-workday .event-container h1 {
  line-height: 56%;
  font-weight: 700;
}

.hero .glide #nnbcGlide-workday .event-container h1#wd-top {
  font-size: clamp(4em, 8vw, 8em);
  color: #222222;
  margin-top: 25px;
}

.hero .glide #nnbcGlide-workday .event-container .wd-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .glide #nnbcGlide-workday .event-container .wd-bottom h1 {
  font-size: clamp(4em, 8vw, 8em);
  color: #ffa030;
}

.hero .glide #nnbcGlide-workday .event-container .wd-bottom h2 {
  color: white;
  font-size: clamp(1em, 1.75vw, 2.5em);
}

.squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 50%;
  margin-top: 3%;
}

.squares .sq {
  position: relative;
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
  -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
  background-color: black;
  overflow: hidden;
  border-radius: 6px;
}

.squares .sq::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.squares .sq .caption {
  position: absolute;
  bottom: 48%;
  left: 10%;
  z-index: 10;
  color: white;
  opacity: 0;
  -webkit-transition: ease .4s;
  transition: ease .4s;
  font-size: clamp(12px, 1.125vw, 16px);
}

.squares .sq .title {
  position: absolute;
  top: 55%;
  left: 10%;
  z-index: 10;
}

.squares .sq .title p {
  color: white;
  font-size: clamp(1em, 2vw, 2em);
  font-weight: 500;
  text-align: center;
  text-shadow: 0 0 3px black, 0 0 8px black;
  line-height: 140%;
}

.squares .sq .title p span {
  color: black;
  background: white;
  padding: .1em .35em;
  text-shadow: none;
  font-weight: 700;
}

.squares .sq img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: ease .4s;
  transition: ease .4s;
}

.modal {
  background: #fff;
}

.modal * {
  font-family: 'Rokkitt', serif;
}

.modal .modTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .modTop .modTitle {
  font-size: 1.75em;
  margin-bottom: 1em;
}

.modal .modTop button {
  all: unset;
  height: 48px;
  width: 48px;
  border-radius: 6px;
  position: relative;
  background-color: #ff5f57;
}

.modal .modTop button:hover {
  cursor: pointer;
  background-color: #ff4b41;
}

.modal .modTop button:hover .closeLine span {
  background-color: #700000;
}

.modal .modTop button .closeLine {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60%;
  width: 60%;
}

.modal .modTop button .closeLine:first-child span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal .modTop button .closeLine span {
  position: absolute;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  height: 3px;
  width: 100%;
  background-color: #9b0000;
}

.modal .modBottom {
  margin-top: 1em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.modal .modBottom button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
  color: white;
  background-color: #ff5f57;
  white-space: nowrap;
  max-height: 48px;
  -webkit-transition: background-color 0s;
  transition: background-color 0s;
}

.modal .modBottom button:hover {
  background-color: #ff4b41;
  -webkit-transition: background-color 0s;
  transition: background-color 0s;
}

.modal .nav {
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 1em;
}

.modal button.nav-link {
  font-size: 1.5em;
  color: #555555;
}

.modal button.nav-link.active {
  background-color: white;
  color: #1a759f;
  font-weight: 600;
  border-color: #dee2e6 #dee2e6 transparent;
}

.modal .tab-content {
  border: 1px solid #dee2e6;
  border-top: unset;
  padding: 2em 4em;
}

.modal .tab-content * {
  font-family: 'Rokkitt', serif;
}

.modal .tab-content .tab-pane * {
  color: #212529;
}

.modal .tab-content .tab-pane h1 {
  margin-bottom: 2em;
  font-size: 1.75em;
}

.modal .tab-content .tab-pane h2 {
  margin-bottom: 0.5em;
  margin-left: 25px;
  font-size: 1.5em;
  font-weight: 700;
}

.modal .tab-content .tab-pane p {
  margin-bottom: 4em;
  margin-left: 25px;
  color: #65727e;
}

.modal .tab-content .tab-pane ul li {
  color: #65727e;
}

.modal .tab-content article.feature {
  position: relative;
  width: 100%;
  height: clamp(250px, 13vw, 350px);
  border-radius: 10px;
  margin-top: 5em;
  margin-bottom: 2em;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 0 #e49086;
          box-shadow: 0 5px 0 #e49086;
}

.modal .tab-content article.feature:first-of-type {
  margin-top: 0;
}

.modal .tab-content article.feature h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0 auto;
  font-family: 'Selima';
  font-size: 6em;
  color: #e49086;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5), 0 0 8px rgba(0, 0, 0, 0.65);
  text-align: center;
  white-space: nowrap;
  line-height: 70%;
  z-index: 1;
}

.modal .tab-content article.feature h1 span {
  font-size: 50%;
  color: white;
  font-family: 'PT Serif', serif;
}

.modal .tab-content article.feature img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  min-height: 100%;
}

.modal .tab-content article.feature img#featWelcome {
  -webkit-filter: blur(8px) brightness(65%) saturate(150%);
          filter: blur(8px) brightness(65%) saturate(150%);
}

.modal .tab-content article.feature img#featSoF {
  -webkit-filter: blur(3px) brightness(65%) saturate(125%);
          filter: blur(3px) brightness(65%) saturate(125%);
}

.modal .tab-content article.feature img#featGift {
  -webkit-filter: blur(3px) brightness(45%) saturate(125%);
          filter: blur(3px) brightness(45%) saturate(125%);
}

.modal .tab-content section.scrollAnimation {
  position: relative;
  height: 50px;
  width: 100%;
}

.modal .tab-content section.scrollAnimation a {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  letter-spacing: .1em;
  text-decoration: none;
  color: #e49086;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  padding-top: 70px;
}

.modal .tab-content section.scrollAnimation a:hover {
  opacity: .5;
}

.modal .tab-content section.scrollAnimation a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #e49086;
  border-bottom: 1px solid #e49086;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
            transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.modal .tab-content .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .tab-content .cta a.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
  color: white;
  background-color: #2F9FC2;
  white-space: nowrap;
  max-height: 54px;
}

.modal .tab-content .cta a.btn svg {
  fill: white;
  margin: 0 1em 0 .25em;
}

.modal .tab-content .tab-pane#aboutOurPastor .title {
  margin-bottom: 2em;
}

.modal .tab-content .tab-pane#aboutOurPastor .title h1 {
  margin-bottom: 0;
  line-height: 100%;
  color: #212529;
}

.modal .tab-content p {
  font-size: 1.15em;
}

.modal .tab-content p#pastorBio {
  padding-right: 4em;
}

.modal .tab-content p img {
  max-height: 200px;
  float: left;
  margin: 0.25em 1em 0.5em 0;
  border-radius: 6px;
}

.modal .tab-content ol.roman {
  list-style-type: upper-roman;
  margin-left: 10px;
}

.modal .tab-content ol.roman li, .modal .tab-content ol.roman li * {
  font-size: 1.15em;
  font-family: 'Rokkitt', serif !important;
}

.modal .tab-content ol.roman li strong, .modal .tab-content ol.roman li * strong {
  color: #33516c;
}

.modal .tab-content img#img_OurPastor {
  width: 100%;
  max-width: 400px;
  border-radius: 100%;
  border: 7px solid #f1f3f4;
}

.modal .tab-content #aboutOurPastor h1 {
  font-family: 'Selima';
  font-size: clamp(26px, 7vw, 48px);
}

.modal .tab-content .pastorFamilyContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .contactContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .contactContainer h1 {
  margin-bottom: 0.75em;
}

.modal .contactContainer .times .sermonTimes .grid_row {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
}

.modal .contactContainer .times .sermonTimes .grid_column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 60px;
      grid-template-columns: auto 60px;
}

.modal .contactContainer .emailForm form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  padding: 1em;
  border: 2px solid #e2e2e2;
  border-radius: 6px;
}

.modal .contactContainer .emailForm .relative {
  position: relative;
  height: 28px;
  margin-bottom: 1.5em;
}

.modal .contactContainer .emailForm .relative label, .modal .contactContainer .emailForm .relative input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.modal .contactContainer .emailForm .relative label:last-child, .modal .contactContainer .emailForm .relative input:last-child {
  z-index: 1;
  left: 4px;
  top: 2px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  -webkit-transition-delay: 9999s;
          transition-delay: 9999s;
}

.modal .contactContainer .emailForm .relative label:last-child span, .modal .contactContainer .emailForm .relative input:last-child span {
  color: red;
}

.modal .contactContainer .emailForm .relative input:focus + label,
.modal .contactContainer .emailForm .relative textarea:focus + label {
  top: -18px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  font-size: 90%;
}

.modal .contactContainer .emailForm .relative textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

.modal .contactContainer .emailForm #formTitle-wrapper {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  margin-bottom: 1.75em;
}

.modal .contactContainer .emailForm #formTitle-wrapper h1 {
  margin-bottom: unset;
}

.modal .contactContainer .emailForm #formTitle-wrapper h2 {
  font-size: 1em;
}

.modal .contactContainer .emailForm #firstName-wrapper {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.modal .contactContainer .emailForm #lastName-wrapper {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.modal .contactContainer .emailForm #email-wrapper {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.modal .contactContainer .emailForm #message-wrapper {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  height: 125px;
}

.modal .contactContainer .emailForm #submit-wrapper {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.modal .contactContainer .emailForm #submit-wrapper input {
  width: 100%;
}

footer {
  width: 100%;
  background: white;
  margin-top: 50px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 2em 5em;
  text-align: center;
  justify-self: flex-end;
}

footer p {
  color: #222222;
  font-size: clamp(12px, 1.125vw, 16px);
  font-weight: 600;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 1150px) {
  .squares .sq .caption {
    display: none;
    visibility: hidden;
    font-size: 0em;
    opacity: 0;
  }
  .squares .sq .title:before,
  .squares .sq .title:after,
  .squares .sq .title div:before,
  .squares .sq .title div:after {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}

@media only screen and (max-width: 990px) {
  .squares .sq img {
    opacity: 0.8;
  }
  .modal .tab-content {
    padding: 2em 2em;
  }
  .modal .tab-content .feature {
    height: 175px;
  }
  .modal .tab-content .feature h1 {
    font-size: 4em;
  }
  .modal .tab-content .cta h1 {
    font-size: 1.75em;
  }
  .modal .tab-content .cta a.btn {
    font-size: 1em;
  }
  .modal .tab-content .tab-pane#aboutOurPastor .row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  .modal .tab-content .tab-pane#aboutOurPastor p#pastorBio {
    padding: 0;
  }
  footer {
    padding: 1em 2em;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    height: 280px;
  }
  .hero .glide {
    overflow-y: hidden;
  }
  .glide__arrows {
    display: none;
  }
  button.glide__bullet {
    height: 48px;
    width: 48px;
    border-radius: 0px;
    margin: 0 0.75em;
  }
  .glide__bullets {
    bottom: -2.75em;
  }
  .squares {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 6%;
  }
  .squares .sq {
    -ms-flex-preferred-size: 46%;
        flex-basis: 46%;
    margin-bottom: 7%;
  }
  .squares .sq .title p {
    font-size: 4.5vw;
  }
  li.nav-item button.nav-link {
    font-size: 1.25em;
  }
  div.modal {
    padding: 1em;
  }
  div.modal .modTop button {
    height: 28px;
    width: 28px;
    border-radius: 100%;
  }
  div.modal .tab-content {
    padding: 0.75em 0.75em;
  }
  div.modal .tab-content .feature {
    height: 150px;
  }
  div.modal .tab-content .feature h1 {
    font-size: 2.5em;
  }
  div.modal .tab-content p img {
    max-height: 150px;
  }
  div.modal .tab-content .cta {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.modal .contactContainer {
    grid-auto-flow: row;
    -ms-grid-columns: unset;
        grid-template-columns: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div.modal .contactContainer h1 {
    margin-top: 2em;
  }
  footer p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .nav {
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
  .hero .glide #nbbcGlide-welcome h1 {
    padding: 5px 15px;
    border: 6px solid white;
  }
  footer {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 425px) {
  button.nav-link {
    padding: 0.5rem;
  }
  .hero {
    height: 220px;
  }
}
/*# sourceMappingURL=custom.css.map */