$grullo: #9b8772;
$slate-gray: #667983;
$yale-blue: #33516c;
$ochre: #c3782f;
$new-york-pink: #e49086;

@font-face {
    font-family: 'Selima';
    src: url('../asset/font/selima/Selima.eot'); /* IE9 Compat Modes */
    src: url('../asset/font/selima/Selima.woff2') format('woff2'), /* Super Modern Browsers */
         url('../asset/font/selima/Selima.woff') format('woff'), /* Pretty Modern Browsers */
         url('../asset/font/selima/Selima.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:wght@400;500;600;700&family=Rokkitt:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-image: url(../asset/img/natural-wood-pattern.webp);
    min-height: 100vh;
    padding: 0 3%;
    position: relative;

    font-family: 'Montserrat', sans-serif;

    &::-webkit-scrollbar {
        display: none;
    }
}

.container.topLevel {
    display: flex;
    flex-direction: column;
    width: clamp(200px, 100%, 1400px);
    height: 100%;
    margin: 3% auto 0 auto;
}

.hero {
    height: 340px;
    width: 100%;
    box-shadow: 0 0 15px 5px rgba($color: #000000, $alpha: .5);
    border-radius: 6px;

    .glide {
        height: 100%;
        border-radius: 6px;

        .glide__track {
            height: 100%;

            .glide__slides {
                height: 100%;
                border-radius: 6px;
            }

            .glide__slide {
                background-position: center;
                background-size: cover;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                border-radius: 6px;
            }
        }

        #nbbcGlide-welcome {
            background-image: url(../asset/img/carousel/welcome/OrangeTrees3.webp);
            color: white;

            h1 {
                text-align: center;
                font-size: clamp(3em, 4vw, 5em);
                border: 10px solid white;
                padding: 0 20px;
                background: rgba($color: #ffffff , $alpha: .25);
                text-shadow: 0 0 3px rgba($color: #000000, $alpha: .5),
                             0 0 8px rgba($color: #000000, $alpha: .65);
            }

            h2 {
                text-align: center;
                font-size: clamp(.87em, 1.2vw, 2em);
                letter-spacing: .2em;
                margin-top: 1em;
                text-shadow: 0 0 3px rgba($color: #000000, $alpha: .5),
                             0 0 8px rgba($color: #000000, $alpha: .65);
            }
        }

        #nnbcGlide-revival {
            background-image: url(../asset/img/carousel/revival/PinkMountains.webp);
            color: white;

            h1 {
                font-family: 'Selima';
                font-size: clamp(4em, 7.5vw, 8em);
                text-align: center;
                letter-spacing: 0.15em;
                position: relative;
                transform: rotate(-6deg);
                text-shadow: 4px 4px 0px #78F5AB;
            }

            h2 {
                font-family: 'Montserrat', sans-serif;
                font-size: clamp(.85em, 1.25vw, 1.35em);
                text-align: right;
                letter-spacing: 0.15em;
                margin-top: clamp(10px, -1vw, -10px);
                text-shadow: 0 0 3px rgba($color: #000000, $alpha: .75);
            }

            p {
                font-family: 'DM Serif Display', serif;
                font-size: clamp(1em, 1.25vw, 1.35em);
                margin-bottom: -1.5vw;
                text-shadow: 0 0 3px rgba($color: #000000, $alpha: .75);
            }
        }
        #nnbcGlide-workday {
            background: rgb(34,34,34);
            background: linear-gradient(0deg, rgba(34,34,34,1) 0%, rgba(34,34,34,1) 50%, rgba(255,160,48,1) 50%, rgb(255, 160, 48) 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .event-container {
                display: flex;
                flex-direction: column;

                h1 {
                    line-height: 56%;
                    font-weight: 700;
                }

                h1#wd-top {
                    font-size: clamp(4em, 8vw, 8em);
                    color: #222222;
                    margin-top: 25px;
                }

                .wd-bottom {
                    display: flex;

                    h1 {
                        font-size: clamp(4em, 8vw, 8em);
                        color: #ffa030;
                    }

                    h2 {
                        color: white;
                        font-size: clamp(1em, 1.75vw, 2.5em);
                    }
                }
            }

        }

    }
}

.squares {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-height: 50%;
    margin-top: 3%;

    .sq {
        position: relative;
        flex-basis: 22%;
        box-shadow: 0 0 15px 5px rgba($color: #000000, $alpha: .5);
        background-color: black;
        overflow: hidden;
        border-radius: 6px;

        &::before {
            content: '';
            display: block;
            padding-top: 100%;
        }

        .caption {
            position: absolute;
            bottom: 48%;
            left: 10%;
            z-index: 10;
            color: white;
            opacity: 0;
            transition: ease .4s;
            font-size: clamp(12px, 1.125vw, 16px);
        }

        .title {
            position: absolute;
            top: 55%;
            left: 10%;
            z-index: 10;

            p {
                color: white;
                font-size: clamp(1em, 2vw, 2em);
                font-weight: 500;
                text-align: center;
                text-shadow: 0 0 3px black, 0 0 8px black;
                line-height: 140%;
    
                span {
                    color: black;
                    background: white;
                    padding: .1em .35em;
                    text-shadow: none;
                    font-weight: 700;
                }
            }
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: ease .4s;
        }
    }
}

.modal {
    background-color: lighten($color: #34a0a4, $amount: 60%);

    * {
        font-family: 'Rokkitt', serif;
    }

    .modTop {
        display: flex;
        justify-content: space-between;

        .modTitle {
            font-size: 2em;
            margin-bottom: 1em;
        }

        button {
            all: unset;
            height: 48px;
            width: 48px;
            border-radius: 4px;
            border: 1px solid #dee2e6;
            position: relative;

            &:hover {
                cursor: pointer;

                .closeLine span {
                    background-color: #777777;
                }
            }

            .closeLine {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60%;
                width: 60%;

                &:first-child {
                    span {
                        transform: rotate(45deg);
                    }
                }

                span {
                    position: absolute;
                    z-index: 1;
                    transform: rotate(-45deg);
                    height: 2px;
                    width: 100%;
                    background-color: #dee2e6;
                }
            }
        }
    }

    button.nav-link {
        font-size: 1.5em;
        color: #555555;

        &.active {
            background-color: lighten($color: #34a0a4, $amount: 60%);
            color: #1a759f;
            font-weight: 600;
            border-color: #dee2e6 #dee2e6 transparent;
        }
    }

    .tab-content {
        border: 1px solid #dee2e6;
        border-top: unset;
        padding: 2em 4em;

        * {
            font-family: 'Rokkitt', serif;
            color: $slate-gray;
        }

        .feature {
            position: relative;
            width: 100%;
            height: 300px;
            border-radius: 10px;
            margin-bottom: 2em;
            overflow: hidden;
            box-shadow: 0 5px 0 $new-york-pink;

            h1 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin: 0 auto;
                font-family: 'Selima';
                font-size: 6em;
                color: $new-york-pink;
                text-shadow: 0 0 3px rgba($color: #000000, $alpha: .5),
                             0 0 8px rgba($color: #000000, $alpha: .65);
                text-align: center;
                white-space: nowrap;
                line-height: 75%;
                z-index: 1;

                span {
                    font-size: 50%;
                    color: white;
                    font-family: 'PT Serif', serif;
                }
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 100%;
                min-height: 100%;
                
                &#featWelcome {
                    filter: blur(8px) brightness(65%) saturate(150%);
                }
                &#featSoF {
                    filter: blur(3px) brightness(65%) saturate(125%);
                }
                &#featGift {
                    filter: blur(3px) brightness(45%) saturate(125%);
                }
            }
        }

        .cta {
            display: flex;
            justify-content: space-between;

            a.btn {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5em;
                color: white;

                svg {
                    fill: white;
                    margin: 0 1em 0 .25em;
                }
            }
        }

        .title {
            margin-bottom: 2em;

            h1 {
                margin-bottom: 0;
                line-height: 100%;
                color: #212529;
            }
        }

        p {
            font-size: 1.15em;
            margin-bottom: 4em;

            &#pastorBio {
                margin-left: 1em;
                padding-right: 4em;
            }
        }

        ol.roman {
            list-style-type: upper-roman;
            margin-left: 10px;

            li, li * {
                font-size: 1.15em;
                font-family: 'Rokkitt', serif !important;

                strong {
                    color: $yale-blue;
                }
            }
        }

        img#img_OurPastor {
            width: 100%;
            max-width: 400px;
            border-radius: 100%;
            border: 10px solid hsl(186, 10%, 95%);
        }
    }
}

footer {
    width: 100%;
    background: white;
    margin-top: 50px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 2em 5em;
    text-align: center;
    justify-self: flex-end;

    p {
        color: #222222;
        font-size: clamp(12px, 1.125vw, 16px);
        font-weight: 600;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);
    }
}

@media only screen and (max-width: 1150px) {

    .squares {
        .sq {
            .caption {
                display: none;
                visibility: hidden;
                font-size: 0em;
                opacity: 0;
            }

            .title:before,
            .title:after,
            .title div:before,
            .title div:after {
                display: none;
                visibility: hidden;
                opacity: 0;
            }
        }
    }

}

@media only screen and (max-width: 990px) {

    .squares {
        .sq {
            img {
                opacity: 0.8;
            }
        }
    }

    footer {
        padding: 1em 2em;
    }

}

@media only screen and (max-width: 768px) {

    .hero {
        height: 280px;

        .glide {
            overflow-y: hidden;
        }
    }

    .glide__arrows {
        display: none;
    }

    button.glide__bullet {
        height: 48px;
        width: 48px;
        border-radius: 0px;
        margin: 0 0.75em;
    }

    .glide__bullets {
        bottom: -2.75em;
    }
    
    .squares {
        flex-wrap: wrap;
        margin-top: 6%;

        .sq {
            flex-basis: 46%;
            margin-bottom: 7%;

            .title {
                p {
                    font-size: 4.5vw;
                }
            }
        }
    }

    footer {
        p {
            font-size: 12px;
        }
    }

}