$grullo: #9b8772;
$slate-gray: #667983;
$yale-blue: #33516c;
$ochre: #c3782f;
$ocean: #2F9FC2;
$new-york-pink: #e49086;

@font-face {
    font-family: 'Selima';
    src: url('../asset/font/selima/Selima.eot'); /* IE9 Compat Modes */
    src: url('../asset/font/selima/Selima.woff2') format('woff2'), /* Super Modern Browsers */
         url('../asset/font/selima/Selima.woff') format('woff'), /* Pretty Modern Browsers */
         url('../asset/font/selima/Selima.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:wght@400;500;600;700&family=Rokkitt:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

body {
    display: flex;
    background-image: url(../asset/img/natural-wood-pattern.webp);
    min-height: 100vh;
    padding: 0 3%;
    position: relative;

    font-family: 'Montserrat', sans-serif;

    &::-webkit-scrollbar {
        display: none;
    }
}

.container.topLevel {
    display: flex;
    flex-direction: column;
    width: clamp(200px, 100%, 1400px);
    height: 100%;
    margin: 3% auto 0 auto;
}

.hero {
    height: 340px;
    width: 100%;
    box-shadow: 0 0 15px 5px rgba($color: #000000, $alpha: .5);
    border-radius: 6px;

    .glide {
        height: 100%;
        border-radius: 6px;

        .glide__track {
            height: 100%;

            .glide__slides {
                height: 100%;
                border-radius: 6px;
            }

            .glide__slide {
                background-position: center;
                background-size: cover;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                border-radius: 6px;
            }
        }

        #nbbcGlide-welcome {
            background-image: url(../asset/img/carousel/welcome/OrangeTrees3.webp);
            color: white;

            h1 {
                text-align: center;
                font-size: clamp(3em, 4vw, 5em);
                border: 10px solid white;
                padding: 0 20px;
                background: rgba($color: #ffffff , $alpha: .25);
                text-shadow: 0 0 3px rgba($color: #000000, $alpha: .5),
                             0 0 8px rgba($color: #000000, $alpha: .65);
            }

            h2 {
                text-align: center;
                font-size: clamp(.87em, 1.2vw, 2em);
                letter-spacing: .2em;
                margin-top: 1em;
                text-shadow: 0 0 3px rgba($color: #000000, $alpha: .5),
                             0 0 8px rgba($color: #000000, $alpha: .65);
            }
        }

        #nnbcGlide-revival {
            background-image: url(../asset/img/carousel/revival/PinkMountains.webp);
            color: white;

            h1 {
                font-family: 'Selima';
                font-size: clamp(4em, 7.5vw, 8em);
                text-align: center;
                letter-spacing: 0.15em;
                position: relative;
                transform: rotate(-6deg);
                text-shadow: 4px 4px 0px #78F5AB;
            }

            h2 {
                font-family: 'Montserrat', sans-serif;
                font-size: clamp(.85em, 1.25vw, 1.35em);
                text-align: right;
                letter-spacing: 0.15em;
                margin-top: clamp(10px, -1vw, -10px);
                text-shadow: 0 0 3px rgba($color: #000000, $alpha: .75);
            }

            p {
                font-family: 'DM Serif Display', serif;
                font-size: clamp(1em, 1.25vw, 1.35em);
                margin-bottom: -1.5vw;
                text-shadow: 0 0 3px rgba($color: #000000, $alpha: .75);
            }
        }
        #nnbcGlide-workday {
            background: rgb(34,34,34);
            background: linear-gradient(0deg, rgba(34,34,34,1) 0%, rgba(34,34,34,1) 50%, rgba(255,160,48,1) 50%, rgb(255, 160, 48) 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .event-container {
                display: flex;
                flex-direction: column;

                h1 {
                    line-height: 56%;
                    font-weight: 700;
                }

                h1#wd-top {
                    font-size: clamp(4em, 8vw, 8em);
                    color: #222222;
                    margin-top: 25px;
                }

                .wd-bottom {
                    display: flex;

                    h1 {
                        font-size: clamp(4em, 8vw, 8em);
                        color: #ffa030;
                    }

                    h2 {
                        color: white;
                        font-size: clamp(1em, 1.75vw, 2.5em);
                    }
                }
            }

        }

    }
}

.squares {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-height: 50%;
    margin-top: 3%;

    .sq {
        position: relative;
        flex-basis: 22%;
        box-shadow: 0 0 15px 5px rgba($color: #000000, $alpha: .5);
        background-color: black;
        overflow: hidden;
        border-radius: 6px;

        &::before {
            content: '';
            display: block;
            padding-top: 100%;
        }

        .caption {
            position: absolute;
            bottom: 48%;
            left: 10%;
            z-index: 10;
            color: white;
            opacity: 0;
            transition: ease .4s;
            font-size: clamp(12px, 1.125vw, 16px);
        }

        .title {
            position: absolute;
            top: 55%;
            left: 10%;
            z-index: 10;

            p {
                color: white;
                font-size: clamp(1em, 2vw, 2em);
                font-weight: 500;
                text-align: center;
                text-shadow: 0 0 3px black, 0 0 8px black;
                line-height: 140%;
    
                span {
                    color: black;
                    background: white;
                    padding: .1em .35em;
                    text-shadow: none;
                    font-weight: 700;
                }
            }
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: ease .4s;
        }
    }
}

.modal {
    background: #fff;


    * {
        font-family: 'Rokkitt', serif;
    }

    .modTop {
        display: flex;
        justify-content: space-between;

        .modTitle {
            font-size: 2em;
            margin-bottom: 1em;
        }

        button {
            all: unset;
            height: 48px;
            width: 48px;
            border-radius: 6px;
            position: relative;
            background-color: #ff5f57;
            
            &:hover {
                cursor: pointer;
                background-color: #ff4b41;

                .closeLine span {
                    background-color: #700000;
                }
            }

            .closeLine {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60%;
                width: 60%;

                &:first-child {
                    span {
                        transform: rotate(45deg);
                    }
                }

                span {
                    position: absolute;
                    z-index: 1;
                    transform: rotate(-45deg);
                    height: 3px;
                    width: 100%;
                    background-color: #9b0000;
                }
            }
        }
    }

    .modBottom {
        margin-top: 1em;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5em;
            color: white;
            background-color: #ff5f57;
            white-space: nowrap;
            max-height: 54px;
            transition: background-color 0s;

            &:hover {
                background-color: #ff4b41;
                transition: background-color 0s;
            }
        }
    }

    button.nav-link {
        font-size: 1.5em;
        color: #555555;

        &.active {
            background-color: lighten($color: #34a0a4, $amount: 60%);
            color: #1a759f;
            font-weight: 600;
            border-color: #dee2e6 #dee2e6 transparent;
        }
    }

    .tab-content {
        border: 1px solid #dee2e6;
        border-top: unset;
        padding: 2em 4em;

        * {
            font-family: 'Rokkitt', serif;
            color: $slate-gray;
        }

        article.feature {
            position: relative;
            width: 100%;
            height: clamp(250px, 13vw, 350px);
            border-radius: 10px;
            margin-top: 5em;
            margin-bottom: 2em; 
            overflow: hidden;
            box-shadow: 0 5px 0 $new-york-pink;

            &:first-of-type {
                margin-top: 0;
            }

            h1 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin: 0 auto;
                font-family: 'Selima';
                font-size: 6em;
                color: $new-york-pink;
                text-shadow: 0 0 3px rgba($color: #000000, $alpha: .5),
                             0 0 8px rgba($color: #000000, $alpha: .65);
                text-align: center;
                white-space: nowrap;
                line-height: 70%;
                z-index: 1;

                span {
                    font-size: 50%;
                    color: white;
                    font-family: 'PT Serif', serif;
                }
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                min-height: 100%;
                
                &#featWelcome {
                    filter: blur(8px) brightness(65%) saturate(150%);
                }
                &#featSoF {
                    filter: blur(3px) brightness(65%) saturate(125%);
                }
                &#featGift {
                    filter: blur(3px) brightness(45%) saturate(125%);
                }
            }
        }

        section.scrollAnimation {
            position: relative;
            height: 50px;
            width: 100%;

            a {
                position: absolute;
                top: 100%;
                left: 50%;
                z-index: 2;
                display: inline-block;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                letter-spacing: .1em;
                text-decoration: none;
                color: $new-york-pink;
                transition: opacity .3s;
                padding-top: 70px;

                &:hover {
                    opacity: .5;
                }

                span {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 24px;
                    height: 24px;
                    margin-left: -12px;
                    border-left: 1px solid $new-york-pink;
                    border-bottom: 1px solid $new-york-pink;
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    -webkit-animation: sdb05 1.5s infinite;
                    animation: sdb05 1.5s infinite;
                    box-sizing: border-box;
                }

                @-webkit-keyframes sdb05 {
                    0% {
                      -webkit-transform: rotate(-45deg) translate(0, 0);
                      opacity: 0;
                    }
                    50% {
                      opacity: 1;
                    }
                    100% {
                      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
                      opacity: 0;
                    }
                  }
                  @keyframes sdb05 {
                    0% {
                      transform: rotate(-45deg) translate(0, 0);
                      opacity: 0;
                    }
                    50% {
                      opacity: 1;
                    }
                    100% {
                      transform: rotate(-45deg) translate(-20px, 20px);
                      opacity: 0;
                    }
                  }
            }
        }

        .cta {
            display: flex;
            justify-content: space-between;

            a.btn {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5em;
                color: white;
                background-color: $ocean;
                white-space: nowrap;
                max-height: 54px;

                svg {
                    fill: white;
                    margin: 0 1em 0 .25em;
                }
            }
        }

        .title {
            margin-bottom: 2em;

            h1 {
                margin-bottom: 0;
                line-height: 100%;
                color: #212529;
            }
        }

        p {
            font-size: 1.15em;

            &#pastorBio {
                padding-right: 4em;
            }

            img {
                max-height: 200px;
                float: left;
                margin: 0.25em 1em 0.5em 0;
                border-radius: 6px;
            }
        }

        ol.roman {
            list-style-type: upper-roman;
            margin-left: 10px;

            li, li * {
                font-size: 1.15em;
                font-family: 'Rokkitt', serif !important;

                strong {
                    color: $yale-blue;
                }
            }
        }

        img#img_OurPastor {
            width: 100%;
            max-width: 400px;
            border-radius: 100%;
            border: 7px solid hsl(186, 10%, 95%);
        }

        #aboutOurPastor h1 {
            font-family: 'Selima';
            font-size: clamp(26px, 7vw, 48px);
        }

        .pastorFamilyContainer {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
        }
    }

    .contactContainer {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-between;

        h1 {
            margin-bottom: 0.75em;
        }

        .times {
            .sermonTimes {
                .grid_row {
                    display: grid;
                    grid-auto-flow: row;
                }
                .grid_column {
                    display: grid;
                    grid-template-columns: auto 60px;
                }
            }
        }

        .emailForm {
            .relative {
                position: relative;
                height: 28px;
                margin-bottom: 1.5em;
                
                label, input {
                    position: absolute;
                    top: 0;
                    left: 0;

                    &:last-child {
                        z-index: 1;
                        left: 4px;
                        top: 2px;
                        transition: all .15s ease-in-out;
                        transition-delay: 9999s;

                        span {
                            color: red;
                        }
                    }
                }

                input:focus + label,
                textarea:focus + label {
                    top: -18px;
                    transition: all .15s ease-in-out;
                    font-size: 90%;
                }

                &.textArea {
                    height: 122px;
                }
            }
        }
    }
}

footer {
    width: 100%;
    background: white;
    margin-top: 50px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 2em 5em;
    text-align: center;
    justify-self: flex-end;

    p {
        color: #222222;
        font-size: clamp(12px, 1.125vw, 16px);
        font-weight: 600;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);
    }
}

@media only screen and (max-width: 1150px) {

    .squares {
        .sq {
            .caption {
                display: none;
                visibility: hidden;
                font-size: 0em;
                opacity: 0;
            }

            .title:before,
            .title:after,
            .title div:before,
            .title div:after {
                display: none;
                visibility: hidden;
                opacity: 0;
            }
        }
    }

}

@media only screen and (max-width: 990px) {

    .squares {
        .sq {
            img {
                opacity: 0.8;
            }
        }
    }

    .modal .tab-content {
        padding: 2em 2em;

        .feature {
            height: 175px;

            h1 {
                font-size: 4em;
            }
        }

        .cta {

            h1 {
                font-size: 1.75em;
            }

            a.btn {
                font-size: 1em;
            }
        }

        .tab-pane#aboutOurPastor {
            .row {
                flex-direction: column-reverse !important;
            }

            p#pastorBio {
                padding: 0;
            }
        }
    }

    footer {
        padding: 1em 2em;
    }

}

@media only screen and (max-width: 768px) {

    .hero {
        height: 280px;

        .glide {
            overflow-y: hidden;
        }
    }

    .glide__arrows {
        display: none;
    }

    button.glide__bullet {
        height: 48px;
        width: 48px;
        border-radius: 0px;
        margin: 0 0.75em;
    }

    .glide__bullets {
        bottom: -2.75em;
    }
    
    .squares {
        flex-wrap: wrap;
        margin-top: 6%;

        .sq {
            flex-basis: 46%;
            margin-bottom: 7%;

            .title {
                p {
                    font-size: 4.5vw;
                }
            }
        }
    }

    li.nav-item button.nav-link {
        font-size: 1.25em;
    }

    div.modal {
        padding: 1em;

        .modTop {
            button {
                height: 28px;
                width: 28px;
                border-radius: 100%;
            }
        }

        .tab-content {
            padding: 0.75em 0.75em;
    
            .feature {
                height: 150px;
    
                h1 {
                    font-size: 2.5em;
                }
            }
    
            p img {
                max-height: 150px;
            }
    
            .cta {
                flex-direction: column;
            }
        }

        .contactContainer {
            grid-auto-flow: row;
            grid-template-columns: unset;
            justify-content: center;

            h1 {
                margin-top: 2em;
            }
        }
        
    }

    footer {
        p {
            font-size: 12px;
        }
    }

}

@media only screen and (max-width: 425px) {

    .nav {
        flex-wrap: unset;
        flex-direction: column;
    }

}